@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* 
 * page contatiner
 */
.page-container {
	margin-top: 20px;
	min-height: 200px;
}

/* 
 * iframe sytle
 */
iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

iframe[id="ifm-hot-article"] {
	height: 650px;
}

#hot-article-list {
	width: 100%;
}
#hot-article-list .media img {
	width: 100%;
}


#newBlogModal {
	min-width: 50vw;
}

/* 
 * sign in 
 */
.sign-form {
	min-height: 80vh;
	margin: 50px auto;
}

.sign-form form {
	margin: 0 auto;
}

.sign-form form .alert-msg {
	color: red;
}

/* 
 * about page
 */
#about-page {
	width: 100%;
	min-height: 80vh;
}

/* 
 * blog edit
 */
#blog-edit-page #blog-edit-form div[class="row"],
#blog-edit-page .operation {
	margin: 15px 5px;
}