@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* 
 * page contatiner
 */
.page-container {
	margin-top: 20px;
	min-height: 200px;
}

/* 
 * iframe sytle
 */
iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

iframe[id="ifm-hot-article"] {
	height: 630px;
}

#hot-article-list {
	width: 100%;
}
#hot-article-list .media img {
	width: 100%;
}
