<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BlogSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>postman</servlet-name>
    <servlet-class>myservlet.control.PostMan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postman</servlet-name>
    <url-pattern>/postman</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toHomePage</servlet-name>
    <servlet-class>myservlet.action.ToHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toHomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toBlogShow</servlet-name>
    <servlet-class>myservlet.action.ToBlogShowPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toBlogShow</servlet-name>
    <url-pattern>/blogShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toBlogList</servlet-name>
    <servlet-class>myservlet.action.ToBlogListPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toBlogList</servlet-name>
    <url-pattern>/blogList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toBlogMange</servlet-name>
    <servlet-class>myservlet.action.ToBlogMangePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toBlogMange</servlet-name>
    <url-pattern>/blogManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toBlogEdit</servlet-name>
    <servlet-class>myservlet.action.ToBlogEditPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toBlogEdit</servlet-name>
    <url-pattern>/blogEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchBlog</servlet-name>
    <servlet-class>myservlet.action.SearchBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBlog</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editBlog</servlet-name>
    <servlet-class>myservlet.action.EditBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBlog</servlet-name>
    <url-pattern>/updateBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toAboutPage</servlet-name>
    <servlet-class>myservlet.action.ToAboutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toAboutPage</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showHotArticleList</servlet-name>
    <servlet-class>myservlet.action.showHotArticleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showHotArticleList</servlet-name>
    <url-pattern>/showHotArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>myservlet.sign.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signOut</servlet-name>
    <servlet-class>myservlet.sign.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newBlog</servlet-name>
    <servlet-class>myservlet.action.NewBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newBlog</servlet-name>
    <url-pattern>/newBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteBlog</servlet-name>
    <servlet-class>myservlet.action.DeleteBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBlog</servlet-name>
    <url-pattern>/deleteBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAuthorInfo</servlet-name>
    <servlet-class>myservlet.action.ToAuthorEditPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAuthorInfo</servlet-name>
    <url-pattern>/editAuthor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateAuthorInfo</servlet-name>
    <servlet-class>myservlet.action.UpdateAuthorInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAuthorInfo</servlet-name>
    <url-pattern>/updateAuthor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toErrorPage</servlet-name>
    <servlet-class>myservlet.action.ToErrorPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toErrorPage</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
</web-app>